<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mygroup.persistence.MemberDAO">
  	
  	<!-- VO객체 정보 매핑 -->
  	
  	<resultMap type="com.mygroup.domain.MemberVO" id="member">
  		<result property="content" column="content"/>	
  	</resultMap>
  	
  	<!-- VO객체 정보 매핑 -->
  	
  	<resultMap type="com.mygroup.domain.MemberWorkTimeVO" id="mWorkTime">
  		<result property="content" column="content"/>	
  	</resultMap>
  	
  	<!-- 로그인 -->
  	<select id="login" resultMap="member">
  	select * from member where email=#{username}
  	</select>
  	
  	<!-- 사원 생성 -->
  	
  	<insert id="createMember">
	INSERT INTO member (memberId, grade, department, email, phone, name, birthDay, password)
	VALUES (
	CONCAT(date_format(now(),"%y%m"), LPAD((SELECT MAX(id) FROM member m), '2', '0')),
	#{grade},
	#{department},
	#{email},
	#{phone},
	#{name},
	#{birthDay},
	#{password}
	)
  	</insert>
  	
  	<!-- 사원 근태목록 -->
  	<select id="readWorkTime" resultMap="mWorkTime">
  	select *,week(workdate,3)as week from member_workTime where memberId=#{memberId}
  	</select>
  	
  	<!-- 근태관리 출근 -->
  	<insert id="createWorkStartTime">
  	INSERT INTO member_workTime (memberId, workDate, workStartTime)
  	VALUES (#{memberId},date_format(now(),'%Y-%m-%d'),now())
  	</insert>
  	
  	<!-- 근태관리 퇴근 -->
  	<update id="createWorkEndTime">
  	UPDATE member_workTime SET workEndTime=now()
  	WHERE memberId=#{memberId} AND workDate = date_format(now(),'%Y-%m-%d')
  	</update>

  </mapper>