@charset "UTF-8";
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TheJamsil5';
    src: url('The Jamsil OTF 3 Regular.otf') format('woff2');
}
body{
	 font-family: 'BMJUA';
	  background-color: #FFFBEF;
	 
}


.navbar{
	background-color: white;
	 box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
#map{
	margin: auto;
	border: 3px solid #FFFFF2;
	border-radius: 5px;
	 box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
.btn-light{
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}
.novisit{
	border-radius: 8px;
	background-color: #B0B0B0;
	padding : 5px 5px 5px 5px;
	color:white;
}
.yesvisit{
	border-radius: 8px;
	background-color: #2B7526;
	padding : 5px 5px 5px 5px;
	color:white;
}
#detail{
	width:150px;
	height:70px;
	margin: 10px 10px 10px 10px;
}